
/* new style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  background-color: #E6E7E9;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
header {
  margin: 30px 0;
}

/* Home Page */
.home-head{
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),
    url("../public/invictus-tailoring-sneaker-socks-5OZgVj0YVwQ-unsplash.jpg") fixed center/cover
      no-repeat;
  height: 85vh;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0);
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* End */

/* Create Playlist Page */
.music {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music h1 {
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
  margin-bottom: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.4px solid #363636;
  padding: 0px 15px 20px 15px;
  border-radius: 20px;
  margin: 20px 0px;
  box-shadow: 5px 20px 20px -15px rgba(0, 0, 0, 0.25);
  background-color: #d7d7d7;
  z-index: 0;
}
img {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
  width: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 120px;
  object-fit: cover;
  z-index: -2;
}

.song-title {
  font-weight: 700;
}
.artist {
  font-weight: 500;
}
.album {
  font-weight: 200;
  font-size: 0.85rem;
}
.select-btn {
  background-color: #038b5a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  float: right;
  font-weight: 700;
}

li{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
}

input{
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid #424242;
  color: black;
}

/* Search Style */
.form-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-btn {
  background-color: #038b5a;
  color: white;
  padding: 12px 20px;
  border: 1px solid #424242;
  border-left: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
  float: right;
  font-weight: 700;
  height: 3.32em;
}

.input-search{
  width: 500px;
  height:2.5em; 
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

/* Search Style End */

/* Song Style */
.text-tracks {
  margin: 20px 0px;
  text-align: left;
  width: 218px;
  height: 108px;
}
/* Song Style End */

/* Form Style */
.form-playlist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
textarea{
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid #424242;
  color: black;
  border-radius: 2rem;
  height:6.2em;
  
}
.input-playlist-title{
  width: 700px;
  height:2.3em;
  border-radius: 2rem;
}

/* Form Style End*/

/* Playlist Style */
.grid-playlist{
  margin-top: 15px;
  display: grid;
  row-gap: 50px;
  grid-template-rows: 30% 70%;
  
}
.centered{
  text-align: center;
}
.text-playlist{
  margin: 20px 0px;
  text-align: left;
  width: 218px;
  height: 60px;
}
.music{
  margin-top: 20px;
}

/* Playlist Style End */


/* Create Playlist Page End */

@media (max-width: 1000px) {
  .submit {
    margin-top: 30px;
  }
  form {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-top: 20px;
    margin-bottom: 13px;
  }
  .form-playlist{
    flex-direction: column;
    align-items: center;
  }
  .create-btn{
    margin-top:20px;
  }
  
}

@media (max-width: 850px) {
  .form-playlist ul {
    width:500px
  }

  .input-playlist-title{
    width:500px
  }
  .input-search{
    width: 300px;
    height:2.5em; 
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
}